{
  "openapi": "3.0.0",
  "paths": {
    "/v1/search": {
      "get": {
        "operationId": "AppController_search",
        "summary": "Search for companies",
        "parameters": [
          {
            "name": "country",
            "required": true,
            "in": "query",
            "description": "Country code, which can be an ISO country code, or for the United States, a combination of \"US\" and the state code (e.g., \"US-CA\" for California).",
            "schema": {
              "enum": [
                "AE",
                "AT",
                "AU",
                "BE",
                "BL",
                "BR",
                "CH",
                "CN",
                "CY",
                "DE",
                "DK",
                "EE",
                "ES",
                "FI",
                "FR",
                "GF",
                "GG",
                "GI",
                "GP",
                "GR",
                "IN",
                "IT",
                "JE",
                "JP",
                "LT",
                "LU",
                "LV",
                "MK",
                "MQ",
                "MT",
                "MY",
                "NC",
                "NL",
                "NO",
                "NZ",
                "PF",
                "PM",
                "PT",
                "RE",
                "SE",
                "SG",
                "SI",
                "TW",
                "UK",
                "US",
                "US-AK",
                "US-AL",
                "US-AZ",
                "US-CA",
                "US-CO",
                "US-CT",
                "US-DC",
                "US-DE",
                "US-FL",
                "US-IA",
                "US-ID",
                "US-IL",
                "US-IN",
                "US-KY",
                "US-LA",
                "US-MD",
                "US-ME",
                "US-MN",
                "US-MO",
                "US-MS",
                "US-MT",
                "US-NC",
                "US-ND",
                "US-NH",
                "US-NJ",
                "US-NM",
                "US-NV",
                "US-NY",
                "US-OH",
                "US-OK",
                "US-PA",
                "US-RI",
                "US-SC",
                "US-SD",
                "US-TN",
                "US-TX",
                "US-VA",
                "US-WA",
                "US-WI",
                "US-WV",
                "US-WY",
                "WF",
                "YT"
              ],
              "type": "string"
            }
          },
          {
            "name": "query",
            "required": true,
            "in": "query",
            "description": "The search query, which can be a company name or registration number. Note that search capabilities may vary by country, with some supporting only name or registration number searches.",
            "schema": { "example": "Semaphore", "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/SearchResult" } } } }
          }
        },
        "security": [{ "x-api-key": [] }]
      }
    },
    "/v1/company": {
      "post": {
        "operationId": "AppController_getCompany",
        "summary": "Get company information",
        "parameters": [],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GetCompanyDto" } } } },
        "responses": {
          "200": {
            "description": "Company information",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyDTO" } } }
          }
        },
        "security": [{ "x-api-key": [] }]
      }
    },
    "/v1/webhook-portal": {
      "post": {
        "operationId": "AppController_generateWebhookPortalLink",
        "summary": "Generate a short-lived link for webhook portal",
        "parameters": [],
        "responses": {
          "200": { "description": "Short-lived link for webhook portal", "content": { "application/json": { "schema": { "type": "string" } } } }
        },
        "security": [{ "x-api-key": [] }]
      }
    }
  },
  "info": { "title": "Semaphore", "description": "The semaphore API", "version": "0.1", "contact": {} },
  "tags": [],
  "servers": [{ "url": "https://api.getsemaphore.com" }],
  "components": {
    "securitySchemes": { "x-api-key": { "type": "apiKey", "in": "header", "name": "x-api-key" } },
    "schemas": {
      "AddressDto": {
        "type": "object",
        "properties": {
          "address_line_1": { "type": "string", "description": "First line of the address", "example": "10 rue de la Fraternité" },
          "address_line_2": { "type": "string", "description": "Second line of the address", "example": "Semaphore Building" },
          "city": { "type": "string", "description": "City of the address", "example": "Bagnolet" },
          "postal_code": { "type": "string", "description": "Postal code of the address", "example": "93170" },
          "region": { "type": "string", "description": "Region of the address", "example": "FR" },
          "country": { "type": "string", "description": "Country of the address", "example": "Île-de-France" }
        },
        "required": ["address_line_1", "city", "postal_code", "region", "country"]
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "address": { "description": "The legal address of the company", "allOf": [{ "$ref": "#/components/schemas/AddressDto" }] },
          "companyNumber": {
            "type": "string",
            "example": "928020932",
            "description": "The company number. In some countries, this might be a concatenation of the registry and city (e.g., in Germany: \"Augsburg HRB 34617\"). The search function will always return a usable company number. Check the documentation to see which number format is used for each country."
          },
          "name": { "type": "string", "description": "Legal name of the company", "example": "SEMAPHORE" },
          "country": {
            "type": "string",
            "enum": [
              "AE",
              "AT",
              "AU",
              "BE",
              "BL",
              "BR",
              "CH",
              "CN",
              "CY",
              "DE",
              "DK",
              "EE",
              "ES",
              "FI",
              "FR",
              "GF",
              "GG",
              "GI",
              "GP",
              "GR",
              "IN",
              "IT",
              "JE",
              "JP",
              "LT",
              "LU",
              "LV",
              "MK",
              "MQ",
              "MT",
              "MY",
              "NC",
              "NL",
              "NO",
              "NZ",
              "PF",
              "PM",
              "PT",
              "RE",
              "SE",
              "SG",
              "SI",
              "TW",
              "UK",
              "US",
              "US-AK",
              "US-AL",
              "US-AZ",
              "US-CA",
              "US-CO",
              "US-CT",
              "US-DC",
              "US-DE",
              "US-FL",
              "US-IA",
              "US-ID",
              "US-IL",
              "US-IN",
              "US-KY",
              "US-LA",
              "US-MD",
              "US-ME",
              "US-MN",
              "US-MO",
              "US-MS",
              "US-MT",
              "US-NC",
              "US-ND",
              "US-NH",
              "US-NJ",
              "US-NM",
              "US-NV",
              "US-NY",
              "US-OH",
              "US-OK",
              "US-PA",
              "US-RI",
              "US-SC",
              "US-SD",
              "US-TN",
              "US-TX",
              "US-VA",
              "US-WA",
              "US-WI",
              "US-WV",
              "US-WY",
              "WF",
              "YT"
            ],
            "example": "FR",
            "description": "Country code, which can be an ISO country code, or for the United States, a combination of \"US\" and the state code (e.g., \"US-CA\" for California)."
          }
        },
        "required": ["address", "companyNumber", "name", "country"]
      },
      "GetCompanyDto": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "enum": [
              "AE",
              "AT",
              "AU",
              "BE",
              "BL",
              "BR",
              "CH",
              "CN",
              "CY",
              "DE",
              "DK",
              "EE",
              "ES",
              "FI",
              "FR",
              "GF",
              "GG",
              "GI",
              "GP",
              "GR",
              "IN",
              "IT",
              "JE",
              "JP",
              "LT",
              "LU",
              "LV",
              "MK",
              "MQ",
              "MT",
              "MY",
              "NC",
              "NL",
              "NO",
              "NZ",
              "PF",
              "PM",
              "PT",
              "RE",
              "SE",
              "SG",
              "SI",
              "TW",
              "UK",
              "US",
              "US-AK",
              "US-AL",
              "US-AZ",
              "US-CA",
              "US-CO",
              "US-CT",
              "US-DC",
              "US-DE",
              "US-FL",
              "US-IA",
              "US-ID",
              "US-IL",
              "US-IN",
              "US-KY",
              "US-LA",
              "US-MD",
              "US-ME",
              "US-MN",
              "US-MO",
              "US-MS",
              "US-MT",
              "US-NC",
              "US-ND",
              "US-NH",
              "US-NJ",
              "US-NM",
              "US-NV",
              "US-NY",
              "US-OH",
              "US-OK",
              "US-PA",
              "US-RI",
              "US-SC",
              "US-SD",
              "US-TN",
              "US-TX",
              "US-VA",
              "US-WA",
              "US-WI",
              "US-WV",
              "US-WY",
              "WF",
              "YT"
            ],
            "example": "FR",
            "description": "Country code, which can be an ISO country code, or for the United States, a combination of \"US\" and the state code (e.g., \"US-CA\" for California)."
          },
          "companyNumber": {
            "type": "string",
            "example": "928020932",
            "description": "The company number. In some countries, this might be a concatenation of the registry and city (e.g., in Germany: \"Augsburg HRB 34617\"). The search function will always return a usable company number. Check the documentation to see which number format is used for each country."
          },
          "dataPoints": {
            "type": "array",
            "items": { "type": "string", "enum": ["company_profile", "legal_representatives", "ultimate_beneficial_owners", "available_documents"] },
            "example": ["company_profile"],
            "description": "The data points to retrieve. Available data points are: company_profile, legal_representatives, ultimate_beneficial_owners, available_documents."
          },
          "documents": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["uncertified_trade_register_extract"],
            "description": "The document ids to retrieve. These can be either random ids obtained from the available_documents return, or in some cases, stable quick access ids like \"uncertified_trade_register_extract\" or \"last_available_financial_statement\". Stable ids enable quick access to specific documents without querying available_documents first. Refer to our country coverage documentation to check which quick access ids are available for each country."
          }
        },
        "required": ["country", "companyNumber", "dataPoints"]
      },
      "ActivityDto": {
        "type": "object",
        "properties": { "classification": { "type": "string" }, "code": { "type": "string" }, "description": { "type": "string" } },
        "required": ["classification", "code", "description"]
      },
      "CompanyProfileDTO": {
        "type": "object",
        "properties": {
          "country": { "type": "string" },
          "registration_number": { "type": "string" },
          "other_identifiers": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "A dictionary of identifiers with string keys and string values"
          },
          "legal_name": { "type": "string" },
          "status": { "type": "object", "properties": { "local": { "type": "string" }, "active": { "type": "boolean" } } },
          "commercial_name": { "type": "string" },
          "registration_date": { "type": "string" },
          "legal_form": { "type": "object", "properties": { "local": { "type": "string" }, "standard": { "type": "string" } } },
          "share_capital": { "type": "string" },
          "tax_identification_number": { "type": "string" },
          "activity": { "type": "array", "items": { "$ref": "#/components/schemas/ActivityDto" } },
          "address": { "$ref": "#/components/schemas/AddressDto" }
        }
      },
      "IndirectOwnershipDetailDto": {
        "type": "object",
        "properties": {
          "percentage": { "type": "string" },
          "affiliated_company_name": { "type": "string" },
          "affiliated_company_registration_number": { "type": "string" },
          "affiliated_company_country": { "type": "string" },
          "affiliated_company_address": { "type": "array", "items": { "type": "string" } }
        },
        "required": [
          "percentage",
          "affiliated_company_name",
          "affiliated_company_registration_number",
          "affiliated_company_country",
          "affiliated_company_address"
        ]
      },
      "IndirectOwnershipPercentageDto": {
        "type": "object",
        "properties": {
          "total": { "type": "string" },
          "details": { "type": "array", "items": { "$ref": "#/components/schemas/IndirectOwnershipDetailDto" } }
        },
        "required": ["total", "details"]
      },
      "OwnershipPercentageDto": {
        "type": "object",
        "properties": {
          "direct": { "type": "string", "description": "Direct ownership percentage. Might be a number or a range" },
          "indirect": {
            "description": "Indirect ownership percentage details. Might be a number or a range",
            "allOf": [{ "$ref": "#/components/schemas/IndirectOwnershipPercentageDto" }]
          },
          "total": { "type": "string", "description": "Total ownership percentage. Might be a number or a range" }
        },
        "required": ["direct", "indirect", "total"]
      },
      "BeneficialOwnerDto": {
        "type": "object",
        "properties": {
          "first_name": { "type": "string", "description": "First name of the beneficial owner" },
          "gender": { "type": "string", "description": "Gender of the beneficial owner" },
          "last_name": { "type": "string", "description": "Last name of the beneficial owner" },
          "name": { "type": "string", "description": "Full name of the beneficial owner" },
          "birth_date": { "type": "string", "description": "Birth date of the beneficial owner", "format": "date" },
          "birth_country": { "type": "string", "description": "Birth country of the beneficial owner" },
          "birth_place": { "type": "string", "description": "Birth place of the beneficial owner" },
          "nationality": { "type": "string", "description": "Nationality of the beneficial owner" },
          "country_of_residence": { "type": "string", "description": "Country of residence of the beneficial owner" },
          "ownership_percentage": {
            "description": "Ownership percentage details of the beneficial owner",
            "allOf": [{ "$ref": "#/components/schemas/OwnershipPercentageDto" }]
          }
        },
        "required": [
          "first_name",
          "gender",
          "last_name",
          "name",
          "birth_date",
          "birth_country",
          "birth_place",
          "nationality",
          "country_of_residence",
          "ownership_percentage"
        ]
      },
      "LegalRepresentativeBaseDto": {
        "type": "object",
        "properties": {
          "entity_type": { "type": "string", "enum": ["company", "individual"] },
          "name": { "type": "string" },
          "address": { "$ref": "#/components/schemas/AddressDto" },
          "position": { "type": "string" }
        },
        "required": ["entity_type", "name", "address", "position"]
      },
      "LegalRepresentativeCompanyDto": {
        "type": "object",
        "properties": {
          "entity_type": { "type": "string", "enum": ["company"] },
          "name": { "type": "string" },
          "address": { "$ref": "#/components/schemas/AddressDto" },
          "position": { "type": "string" },
          "registration_number": { "type": "string" },
          "legal_form": { "type": "string" },
          "country": { "type": "string" }
        },
        "required": ["entity_type", "name", "address", "position", "registration_number", "legal_form", "country"]
      },
      "LegalRepresentativeIndividualDto": {
        "type": "object",
        "properties": {
          "entity_type": { "type": "string", "enum": ["individual"] },
          "name": { "type": "string" },
          "address": { "$ref": "#/components/schemas/AddressDto" },
          "position": { "type": "string" },
          "first_name": { "type": "string" },
          "last_name": { "type": "string" },
          "birth_date": { "type": "string" },
          "birth_country": { "type": "string" },
          "birth_place": { "type": "string" },
          "voting_rights_percentage": { "type": "string" }
        },
        "required": [
          "entity_type",
          "name",
          "address",
          "position",
          "first_name",
          "last_name",
          "birth_date",
          "birth_country",
          "birth_place",
          "voting_rights_percentage"
        ]
      },
      "JobDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "dataPoints": { "type": "array", "items": { "type": "string" } },
          "documents": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["id", "dataPoints", "documents"]
      },
      "AvailableDocumentDto": {
        "type": "object",
        "properties": {
          "format": { "type": "string", "description": "Document format (ISO format)" },
          "description": { "type": "string", "description": "Document description" },
          "availabilityDelay": { "type": "number", "description": "Availability delay in minutes" },
          "name": { "type": "string", "description": "Document name in the original language" },
          "id": { "type": "string", "description": "Document ID" },
          "date": { "format": "date-time", "type": "string", "description": "Document date" },
          "type": { "type": "string", "description": "Document type" },
          "price": { "type": "number", "description": "Document price, in credits" }
        },
        "required": ["format", "description", "availabilityDelay", "name", "id", "date", "type", "price"]
      },
      "ErrorDTO": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "dataPoints": { "type": "array", "items": { "type": "string" } },
          "documents": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["message", "dataPoints", "documents"]
      },
      "DocumentDto": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Document ID" },
          "url": { "type": "string", "description": "Document Download URL" }
        },
        "required": ["id", "url"]
      },
      "CompanyDTO": {
        "type": "object",
        "properties": {
          "company": { "$ref": "#/components/schemas/CompanyProfileDTO" },
          "ultimate_beneficial_owners": { "type": "array", "items": { "$ref": "#/components/schemas/BeneficialOwnerDto" } },
          "legal_representatives": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/LegalRepresentativeCompanyDto" },
                    { "$ref": "#/components/schemas/LegalRepresentativeIndividualDto" }
                  ]
                }
              },
              {
                "$ref": "#/components/schemas/JobDTO",
                "properties": {
                  "result": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        { "$ref": "#/components/schemas/LegalRepresentativeCompanyDto" },
                        { "$ref": "#/components/schemas/LegalRepresentativeIndividualDto" }
                      ]
                    }
                  }
                }
              }
            ]
          },
          "available_documents": { "type": "array", "items": { "$ref": "#/components/schemas/AvailableDocumentDto" } },
          "documents": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentDto" } }
        },
        "required": ["company"]
      }
    }
  }
}
