{
  "openapi": "3.0.0",
  "paths": {
    "/v1/search": {
      "get": {
        "operationId": "AppController_search",
        "summary": "Search for companies",
        "description": "This endpoint allows you to search for companies based on a country code and a query string.\n\nThe search can be performed using either a company name or registration number, depending on the country's supported search capabilities.\n\nThe results include basic company information such as name, address, and registration number.\n\nDepending on the country, the speed might vary, from sub-second results, up to 10 seconds.",
        "parameters": [
          {
            "name": "country",
            "required": true,
            "in": "query",
            "description": "Country code, which can be an ISO country code, or for the United States, a combination of \"US\" and the state code (e.g., \"US-CA\" for California).",
            "schema": {
              "enum": [
                "AE",
                "AT",
                "AU",
                "BE",
                "BL",
                "BR",
                "CH",
                "CN",
                "CY",
                "DE",
                "DK",
                "EE",
                "ES",
                "FI",
                "FR",
                "GF",
                "GG",
                "GI",
                "GP",
                "GR",
                "IN",
                "IT",
                "JE",
                "JP",
                "LT",
                "LU",
                "LV",
                "MK",
                "MQ",
                "MT",
                "MY",
                "NC",
                "NL",
                "NO",
                "NZ",
                "PF",
                "PM",
                "PT",
                "RE",
                "SE",
                "SG",
                "SI",
                "TW",
                "UK",
                "US",
                "US-AK",
                "US-AL",
                "US-AZ",
                "US-CA",
                "US-CO",
                "US-CT",
                "US-DC",
                "US-DE",
                "US-FL",
                "US-IA",
                "US-ID",
                "US-IL",
                "US-IN",
                "US-KY",
                "US-LA",
                "US-MD",
                "US-ME",
                "US-MN",
                "US-MO",
                "US-MS",
                "US-MT",
                "US-NC",
                "US-ND",
                "US-NH",
                "US-NJ",
                "US-NM",
                "US-NV",
                "US-NY",
                "US-OH",
                "US-OK",
                "US-PA",
                "US-RI",
                "US-SC",
                "US-SD",
                "US-TN",
                "US-TX",
                "US-VA",
                "US-WA",
                "US-WI",
                "US-WV",
                "US-WY",
                "WF",
                "YT"
              ],
              "type": "string"
            }
          },
          {
            "name": "query",
            "required": true,
            "in": "query",
            "description": "The search query, which can be a company name or registration number. Note that search capabilities may vary by country, with some supporting only name or registration number searches.",
            "schema": { "example": "Semaphore", "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/SearchResult" } } } }
          }
        },
        "security": [{ "x-api-key": [] }]
      }
    },
    "/v1/company": {
      "post": {
        "operationId": "AppController_getCompany",
        "summary": "Retrieve company data",
        "description": "This endpoint allows you to retrieve detailed information about a specific company.\n\nYou need to provide the country code, company number, and the desired data points.\n\nAvailable data points are:\n- company_profile: Basic company information\n- legal_representatives: Information about company officers\n- ultimate_beneficial_owners: Information about beneficial owners\n- available_documents: List of available official documents\n\nYou can also request specific documents by providing their IDs in the \"documents\" field.\nThese can be either random IDs from the available_documents data point, or stable quick access IDs for certain documents.\n\nThe response will include the requested information based on the specified data points and documents.",
        "parameters": [],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GetCompanyDto" } } } },
        "responses": {
          "200": {
            "description": "Company information",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompanyDTO" } } }
          }
        },
        "security": [{ "x-api-key": [] }]
      }
    },
    "/v1/webhook-portal": {
      "post": {
        "operationId": "AppController_generateWebhookPortalLink",
        "summary": "Access Webhook Configuration Portal",
        "description": "Generate a short-lived link for the webhook management portal.",
        "parameters": [],
        "responses": { "200": { "description": "", "content": { "application/json": { "schema": { "type": "string" } } } } },
        "security": [{ "x-api-key": [] }]
      }
    }
  },
  "info": { "title": "Semaphore", "description": "The semaphore API", "version": "0.1", "contact": {} },
  "tags": [],
  "servers": [{ "url": "https://api.getsemaphore.com" }],
  "components": {
    "securitySchemes": { "x-api-key": { "type": "apiKey", "in": "header", "name": "x-api-key" } },
    "schemas": {
      "AddressDto": {
        "type": "object",
        "properties": {
          "address_line_1": { "type": "string", "description": "First line of the address", "example": "10 rue de la Fraternité" },
          "address_line_2": { "type": "string", "description": "Second line of the address", "example": "Semaphore Building" },
          "city": { "type": "string", "description": "City of the address", "example": "Bagnolet" },
          "postal_code": { "type": "string", "description": "Postal code of the address", "example": "93170" },
          "region": { "type": "string", "description": "Region of the address", "example": "FR" },
          "country": { "type": "string", "description": "Country of the address", "example": "Île-de-France" }
        },
        "required": ["address_line_1", "city", "postal_code", "region", "country"]
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "address": { "description": "The legal address of the company", "allOf": [{ "$ref": "#/components/schemas/AddressDto" }] },
          "companyNumber": {
            "type": "string",
            "example": "928020932",
            "description": "The company number. In some countries, this might be a concatenation of the registry and city (e.g., in Germany: \"Augsburg HRB 34617\"). The search function will always return a usable company number. Check the documentation to see which number format is used for each country."
          },
          "name": { "type": "string", "description": "Legal name of the company", "example": "SEMAPHORE" },
          "country": {
            "type": "string",
            "enum": [
              "AE",
              "AT",
              "AU",
              "BE",
              "BL",
              "BR",
              "CH",
              "CN",
              "CY",
              "DE",
              "DK",
              "EE",
              "ES",
              "FI",
              "FR",
              "GF",
              "GG",
              "GI",
              "GP",
              "GR",
              "IN",
              "IT",
              "JE",
              "JP",
              "LT",
              "LU",
              "LV",
              "MK",
              "MQ",
              "MT",
              "MY",
              "NC",
              "NL",
              "NO",
              "NZ",
              "PF",
              "PM",
              "PT",
              "RE",
              "SE",
              "SG",
              "SI",
              "TW",
              "UK",
              "US",
              "US-AK",
              "US-AL",
              "US-AZ",
              "US-CA",
              "US-CO",
              "US-CT",
              "US-DC",
              "US-DE",
              "US-FL",
              "US-IA",
              "US-ID",
              "US-IL",
              "US-IN",
              "US-KY",
              "US-LA",
              "US-MD",
              "US-ME",
              "US-MN",
              "US-MO",
              "US-MS",
              "US-MT",
              "US-NC",
              "US-ND",
              "US-NH",
              "US-NJ",
              "US-NM",
              "US-NV",
              "US-NY",
              "US-OH",
              "US-OK",
              "US-PA",
              "US-RI",
              "US-SC",
              "US-SD",
              "US-TN",
              "US-TX",
              "US-VA",
              "US-WA",
              "US-WI",
              "US-WV",
              "US-WY",
              "WF",
              "YT"
            ],
            "example": "FR",
            "description": "Country code, which can be an ISO country code, or for the United States, a combination of \"US\" and the state code (e.g., \"US-CA\" for California)."
          }
        },
        "required": ["address", "companyNumber", "name", "country"]
      },
      "GetCompanyDto": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "enum": [
              "AE",
              "AT",
              "AU",
              "BE",
              "BL",
              "BR",
              "CH",
              "CN",
              "CY",
              "DE",
              "DK",
              "EE",
              "ES",
              "FI",
              "FR",
              "GF",
              "GG",
              "GI",
              "GP",
              "GR",
              "IN",
              "IT",
              "JE",
              "JP",
              "LT",
              "LU",
              "LV",
              "MK",
              "MQ",
              "MT",
              "MY",
              "NC",
              "NL",
              "NO",
              "NZ",
              "PF",
              "PM",
              "PT",
              "RE",
              "SE",
              "SG",
              "SI",
              "TW",
              "UK",
              "US",
              "US-AK",
              "US-AL",
              "US-AZ",
              "US-CA",
              "US-CO",
              "US-CT",
              "US-DC",
              "US-DE",
              "US-FL",
              "US-IA",
              "US-ID",
              "US-IL",
              "US-IN",
              "US-KY",
              "US-LA",
              "US-MD",
              "US-ME",
              "US-MN",
              "US-MO",
              "US-MS",
              "US-MT",
              "US-NC",
              "US-ND",
              "US-NH",
              "US-NJ",
              "US-NM",
              "US-NV",
              "US-NY",
              "US-OH",
              "US-OK",
              "US-PA",
              "US-RI",
              "US-SC",
              "US-SD",
              "US-TN",
              "US-TX",
              "US-VA",
              "US-WA",
              "US-WI",
              "US-WV",
              "US-WY",
              "WF",
              "YT"
            ],
            "example": "FR",
            "description": "Country code, which can be an ISO country code, or for the United States, a combination of \"US\" and the state code (e.g., \"US-CA\" for California)."
          },
          "companyNumber": {
            "type": "string",
            "example": "928020932",
            "description": "The company number. In some countries, this might be a concatenation of the registry and city (e.g., in Germany: \"Augsburg HRB 34617\"). The search function will always return a usable company number. Check the documentation to see which number format is used for each country."
          },
          "dataPoints": {
            "type": "array",
            "items": { "type": "string", "enum": ["company_profile", "ultimate_beneficial_owners", "available_documents", "legal_representatives"] },
            "example": ["company_profile"],
            "description": "The data points to retrieve. Available data points are: company_profile, ultimate_beneficial_owners, available_documents."
          },
          "documents": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["uncertified_trade_register_extract"],
            "description": "The document ids to retrieve. These can be either random ids obtained from the available_documents return, or in some cases, stable quick access ids like \"uncertified_trade_register_extract\" or \"last_available_financial_statement\". Stable ids enable quick access to specific documents without querying available_documents first. Refer to our country coverage documentation to check which quick access ids are available for each country."
          }
        },
        "required": ["countryCode", "companyNumber"]
      },
      "ActivityDto": {
        "type": "object",
        "properties": {
          "classification": { "type": "string", "description": "Classification of the activity", "example": "NAFRev2" },
          "code": { "type": "string", "description": "Code of the activity", "example": "62.02A" },
          "description": {
            "type": "string",
            "description": "Description of the activity",
            "example": "Conseil en systèmes et logiciels informatiques"
          }
        },
        "required": ["classification", "code", "description"]
      },
      "CompanyProfileDTO": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "enum": [
              "AE",
              "AT",
              "AU",
              "BE",
              "BL",
              "BR",
              "CH",
              "CN",
              "CY",
              "DE",
              "DK",
              "EE",
              "ES",
              "FI",
              "FR",
              "GF",
              "GG",
              "GI",
              "GP",
              "GR",
              "IN",
              "IT",
              "JE",
              "JP",
              "LT",
              "LU",
              "LV",
              "MK",
              "MQ",
              "MT",
              "MY",
              "NC",
              "NL",
              "NO",
              "NZ",
              "PF",
              "PM",
              "PT",
              "RE",
              "SE",
              "SG",
              "SI",
              "TW",
              "UK",
              "US",
              "US-AK",
              "US-AL",
              "US-AZ",
              "US-CA",
              "US-CO",
              "US-CT",
              "US-DC",
              "US-DE",
              "US-FL",
              "US-IA",
              "US-ID",
              "US-IL",
              "US-IN",
              "US-KY",
              "US-LA",
              "US-MD",
              "US-ME",
              "US-MN",
              "US-MO",
              "US-MS",
              "US-MT",
              "US-NC",
              "US-ND",
              "US-NH",
              "US-NJ",
              "US-NM",
              "US-NV",
              "US-NY",
              "US-OH",
              "US-OK",
              "US-PA",
              "US-RI",
              "US-SC",
              "US-SD",
              "US-TN",
              "US-TX",
              "US-VA",
              "US-WA",
              "US-WI",
              "US-WV",
              "US-WY",
              "WF",
              "YT"
            ],
            "example": "FR",
            "description": "Country code, which can be an ISO country code, or for the United States, a combination of \"US\" and the state code (e.g., \"US-CA\" for California)."
          },
          "registration_number": {
            "type": "string",
            "example": "928020932",
            "description": "The company number. In some countries, this might be a concatenation of the registry and city (e.g., in Germany: \"Augsburg HRB 34617\"). The search function will always return a usable company number. Check the documentation to see which number format is used for each country."
          },
          "other_identifiers": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "A dictionary of local identifiers the name of the identifier as key."
          },
          "legal_name": { "type": "string", "example": "OPSMAKER", "description": "The legal name of the company." },
          "status": {
            "type": "object",
            "properties": { "local": { "type": "string", "example": "active" }, "active": { "type": "boolean", "example": true } },
            "description": "The status of the company, including local status and whether it is active. Local statuses are country-specific. Active means the company is still operating. Active is only available when a certain mapping is possible from the local status."
          },
          "commercial_name": { "type": "string", "example": "OPSMAKER", "description": "The commercial name of the company." },
          "registration_date": { "type": "string", "example": "2024-04-22", "description": "The registration date of the company." },
          "legal_form": {
            "type": "object",
            "properties": {
              "local": { "type": "string", "example": "EURL, entreprise unipersonnelle à responsabilité limitée" },
              "standard": { "type": "string" }
            },
            "description": "The legal form of the company, including local and standard forms."
          },
          "share_capital": { "type": "string", "example": "1000 Euros", "description": "The share capital of the company." },
          "tax_identification_number": {
            "type": "string",
            "example": "FR42928020932",
            "description": "The tax identification number of the company."
          },
          "activity": {
            "description": "The activities of the company, including code, description, and classification.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/ActivityDto" }
          },
          "address": { "description": "The address of the company.", "allOf": [{ "$ref": "#/components/schemas/AddressDto" }] }
        },
        "required": ["country"]
      },
      "IndirectOwnershipDetailDto": {
        "type": "object",
        "properties": {
          "percentage": { "type": "string", "description": "Indirect ownership percentage through this affiliated company", "example": "25.5%" },
          "affiliated_company_name": { "type": "string", "description": "Name of the affiliated company", "example": "Acme Holdings Ltd." },
          "affiliated_company_registration_number": {
            "type": "string",
            "description": "Registration number of the affiliated company",
            "example": "123456789"
          },
          "affiliated_company_country": {
            "type": "string",
            "description": "Country where the affiliated company is registered",
            "example": "United Kingdom"
          },
          "affiliated_company_address": {
            "description": "Address of the affiliated company",
            "example": ["123 Business Street", "Suite 456", "London", "SW1A 1AA"],
            "type": "array",
            "items": { "type": "string" }
          }
        },
        "required": [
          "percentage",
          "affiliated_company_name",
          "affiliated_company_registration_number",
          "affiliated_company_country",
          "affiliated_company_address"
        ]
      },
      "IndirectOwnershipPercentageDto": {
        "type": "object",
        "properties": {
          "total": { "type": "string", "description": "Total indirect ownership percentage. Might be a number or a range.", "example": "25.5%" },
          "details": {
            "description": "Detailed breakdown of indirect ownership percentages through affiliated companies.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/IndirectOwnershipDetailDto" }
          }
        },
        "required": ["total", "details"]
      },
      "OwnershipPercentageDto": {
        "type": "object",
        "properties": {
          "direct": { "type": "string", "description": "Direct ownership percentage. Might be a number or a range" },
          "indirect": {
            "description": "Indirect ownership percentage details. Might be a number or a range",
            "allOf": [{ "$ref": "#/components/schemas/IndirectOwnershipPercentageDto" }]
          },
          "total": { "type": "string", "description": "Total ownership percentage. Might be a number or a range" }
        },
        "required": ["direct", "indirect", "total"]
      },
      "BeneficialOwnerDto": {
        "type": "object",
        "properties": {
          "first_name": { "type": "string", "description": "First name of the beneficial owner", "example": "John" },
          "gender": { "type": "string", "description": "Gender of the beneficial owner", "example": "Male" },
          "last_name": { "type": "string", "description": "Last name of the beneficial owner", "example": "Doe" },
          "name": { "type": "string", "description": "Full name of the beneficial owner", "example": "John Doe" },
          "birth_date": { "type": "string", "description": "Birth date of the beneficial owner", "format": "date", "example": "1980-01-01" },
          "birth_country": { "type": "string", "description": "Birth country of the beneficial owner", "example": "USA" },
          "birth_place": { "type": "string", "description": "Birth place of the beneficial owner", "example": "New York" },
          "nationality": { "type": "string", "description": "Nationality of the beneficial owner", "example": "American" },
          "country_of_residence": { "type": "string", "description": "Country of residence of the beneficial owner", "example": "USA" },
          "ownership_percentage": {
            "description": "Ownership percentage details of the beneficial owner",
            "example": { "percentage": 50 },
            "allOf": [{ "$ref": "#/components/schemas/OwnershipPercentageDto" }]
          }
        },
        "required": [
          "first_name",
          "gender",
          "last_name",
          "name",
          "birth_date",
          "birth_country",
          "birth_place",
          "nationality",
          "country_of_residence",
          "ownership_percentage"
        ]
      },
      "LegalRepresentativeBaseDto": {
        "type": "object",
        "properties": {
          "entity_type": {
            "type": "string",
            "enum": ["company", "individual"],
            "description": "Type of entity: company or individual",
            "example": "individual"
          },
          "name": { "type": "string", "description": "Name of the legal representative", "example": "John Doe" },
          "address": {
            "description": "Address of the legal representative",
            "example": { "city": "Paris", "country": "France", "postal_code": "75001", "address_line_1": "123 Rue de Rivoli" },
            "allOf": [{ "$ref": "#/components/schemas/AddressDto" }]
          },
          "position": { "type": "string", "description": "Position of the legal representative within the entity", "example": "CEO" }
        },
        "required": ["entity_type", "name", "address", "position"]
      },
      "LegalRepresentativeCompanyDto": {
        "type": "object",
        "properties": {
          "entity_type": { "type": "string", "enum": ["company"], "description": "Type of entity: company", "example": "company" },
          "name": { "type": "string", "description": "Name of the legal representative", "example": "John Doe" },
          "address": {
            "description": "Address of the legal representative",
            "example": { "city": "Paris", "country": "France", "postal_code": "75001", "address_line_1": "123 Rue de Rivoli" },
            "allOf": [{ "$ref": "#/components/schemas/AddressDto" }]
          },
          "position": { "type": "string", "description": "Position of the legal representative within the entity", "example": "CEO" },
          "registration_number": { "type": "string", "description": "Registration number of the company", "example": "123456789" },
          "legal_form": { "type": "string", "description": "Legal form of the company", "example": "SARL" },
          "country": { "type": "string", "description": "Country where the company is registered", "example": "France" }
        },
        "required": ["entity_type", "name", "address", "position", "registration_number", "legal_form", "country"]
      },
      "LegalRepresentativeIndividualDto": {
        "type": "object",
        "properties": {
          "entity_type": { "type": "string", "enum": ["individual"], "description": "Type of entity: individual", "example": "individual" },
          "name": { "type": "string", "description": "Name of the individual", "example": "Jane Smith" },
          "address": {
            "description": "Address of the legal representative",
            "example": { "city": "Paris", "country": "France", "postal_code": "75001", "address_line_1": "123 Rue de Rivoli" },
            "allOf": [{ "$ref": "#/components/schemas/AddressDto" }]
          },
          "position": { "type": "string", "description": "Position of the legal representative within the entity", "example": "CEO" },
          "first_name": { "type": "string", "description": "First name of the individual", "example": "Jane" },
          "last_name": { "type": "string", "description": "Last name of the individual", "example": "Smith" },
          "birth_date": { "type": "string", "description": "Birth date of the individual", "example": "1980-01-01" },
          "birth_country": { "type": "string", "description": "Birth country of the individual", "example": "USA" },
          "birth_place": { "type": "string", "description": "Birth place of the individual", "example": "New York" },
          "voting_rights_percentage": { "type": "string", "description": "Voting rights percentage of the individual", "example": "50%" }
        },
        "required": ["entity_type", "name", "address", "position"]
      },
      "JobDTO": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "dataPoints": { "type": "array", "items": { "type": "string" } },
          "documents": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["id", "dataPoints", "documents"]
      },
      "AvailableDocumentDto": {
        "type": "object",
        "properties": {
          "format": { "type": "string", "description": "Document format (ISO format)", "example": "PDF" },
          "description": {
            "type": "string",
            "description": "Document description",
            "example": "Uncertified trade register extract, provided by the French INPI"
          },
          "availabilityDelay": { "type": "number", "description": "Availability delay in minutes", "example": 0 },
          "name": { "type": "string", "description": "Document name in the original language", "example": "Certificat INPI" },
          "id": {
            "type": "string",
            "description": "Document ID. This can be either a random ID specific to this document, or a stable quick access ID like \"uncertified_trade_register_extract\" or \"last_available_financial_statement\". Stable IDs enable quick access to specific documents without querying available_documents first. Refer to our country coverage documentation to check which quick access IDs are available for each country.",
            "example": "uncertified_trade_register_extract"
          },
          "date": { "format": "date-time", "type": "string", "description": "Document date", "example": "2024-06-31T23:59:59Z" },
          "type": {
            "type": "string",
            "description": "Document type",
            "enum": [
              "financial_statement",
              "uncertified_trade_register_extract",
              "certified_trade_register_extract",
              "ubo_extract",
              "financial_accounts",
              "status",
              "trade_register_history",
              "unknown"
            ],
            "example": "uncertified_trade_register_extract"
          },
          "price": { "type": "number", "description": "Document price, in credits", "example": 3 }
        },
        "required": ["name", "id", "type"]
      },
      "ErrorDTO": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "dataPoints": { "type": "array", "items": { "type": "string" } },
          "documents": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["message", "dataPoints", "documents"]
      },
      "DocumentDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Document ID. This can be either a random ID specific to this document, or a stable quick access ID like \"uncertified_trade_register_extract\" or \"last_available_financial_statement\". Stable IDs enable quick access to specific documents without querying available_documents first. Refer to our country coverage documentation to check which quick access IDs are available for each country.",
            "example": "uncertified_trade_register_extract"
          },
          "url": {
            "type": "string",
            "description": "Temporary document download URL with a 15-minute lifetime. If the URL expires, you can request the same document again within 24 hours without being charged.",
            "example": "https://example.com/download/document123"
          }
        },
        "required": ["id", "url"]
      },
      "DataPointStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the data point",
            "example": "succeeded",
            "enum": ["succeeded", "in_progress", "failed"]
          },
          "jobs_in_progress": {
            "type": "array",
            "description": "List of job IDs currently in progress to retrieve this data point or this document. \n      You can retrieve the data once the job has finished by either listening to webhooks or repeating the same API call. \n      Note that data points remain available for 24 hours after purchase, allowing for multiple retrievals within this timeframe\n      Multiple jobs can be required to retrieve a single data points when there is multiple underlying data sources. In this case, you will receive multiple webhooks with more data at each step.",
            "example": ["job_1", "job2"],
            "items": { "type": "string" }
          },
          "errors": {
            "type": "array",
            "description": "List of errors encountered while retrieving this data point or this document",
            "example": ["The local registry could not be reached. Please retry later. "],
            "items": { "type": "string" }
          }
        },
        "required": ["status"]
      },
      "DataStatus": {
        "type": "object",
        "properties": {
          "data_points": {
            "type": "object",
            "description": "Retrieval status of data points",
            "additionalProperties": { "$ref": "#/components/schemas/DataPointStatus", "description": "The retriveal status of the data point" }
          },
          "documents": {
            "type": "object",
            "description": "Retrieval status of documents",
            "additionalProperties": { "$ref": "#/components/schemas/DataPointStatus", "description": "The retriveal status of the document" }
          }
        },
        "required": ["data_points", "documents"]
      },
      "CompanyDTO": {
        "type": "object",
        "properties": {
          "company": {
            "description": "The main profile information of the company, including, if available, details such as name, registration number, address, and other core data.",
            "allOf": [{ "$ref": "#/components/schemas/CompanyProfileDTO" }]
          },
          "ultimate_beneficial_owners": {
            "description": "The ultimate beneficial owners of the company, including, if available, their name, nationality, and other relevant details.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/BeneficialOwnerDto" }
          },
          "legal_representatives": {
            "type": "array",
            "description": "The legal representatives of the company, which can be either natural persons (individuals) or legal entities (companies). This includes, if available, their name, nationality, and other relevant details.",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/LegalRepresentativeCompanyDto" },
                { "$ref": "#/components/schemas/LegalRepresentativeIndividualDto" }
              ]
            }
          },
          "available_documents": { "type": "array", "items": { "$ref": "#/components/schemas/AvailableDocumentDto" } },
          "documents": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentDto" } },
          "data_status": {
            "description": "Indicates the status of data points and documents associated with the company. It states if the data has been retrieved, if a job is in progress for asynchronous data, or if a job there was an error.",
            "allOf": [{ "$ref": "#/components/schemas/DataStatus" }]
          }
        },
        "required": ["company"]
      }
    }
  }
}
