{
  "openapi": "3.0.0",
  "paths": {
    "/v2/search": {
      "get": {
        "description": "This endpoint allows you to search for companies based on a country code and a query string.\n\nThe search can be performed using either a company legal name, commercial name, historical name, or registration number. Capabilities vary by country. \n\nThe results include basic company information such as name, address, and the id of the company. You can pass this id to the getCompany endpoint to retrieve more detailed information about the company.\n\nDepending on the country, the speed might vary, from sub-second results, up to 10 seconds.",
        "operationId": "AppController_searchV2_v2",
        "parameters": [
          {
            "name": "country",
            "required": true,
            "in": "query",
            "description": "Country code, which can be an ISO country code, or for the United States, a combination of \"US\" and the state code (e.g., \"US-CA\" for California).",
            "schema": {
              "enum": [
                "AT",
                "BE",
                "CH",
                "CN",
                "DE",
                "ES",
                "FR",
                "GB",
                "IE",
                "IT",
                "NL",
                "NO",
                "PL",
                "PT",
                "HK",
                "LU",
                "MT",
                "TEST"
              ],
              "type": "string"
            }
          },
          {
            "name": "query",
            "required": true,
            "in": "query",
            "description": "The search query, which can be a company name or registration number. Note that search capabilities may vary by country, with some supporting only name or registration number searches.",
            "schema": {
              "example": "Semaphore",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchResultV2"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "Search for companies",
        "tags": [
          "App",
          "Search"
        ]
      }
    },
    "/v2/company": {
      "post": {
        "description": "This endpoint allows you to retrieve detailed information about a specific company.\n\nYou can either:\n1. Make a new request by providing:\n   - country code\n   - company id\n   - desired data points\n   - optional document IDs\n\n2. Get results from a previous request by providing:\n   - requestId (this will return cached data and avoid being billed again)\n\nAvailable data points are:\n- companyProfile: Basic company information, legal representatives and shareholders\n- ultimateBeneficialOwners: Information about beneficial owners\n- availableDocuments: List of available official documents\n\nThere are two ways to retrieve documents:\n\n1. Two-step process:\n   - First, request the \"availableDocuments\" data point to get a list of all available documents with their IDs\n   - Then, use these specific document IDs in a second request\n\n2. Direct access using smart IDs:\n   - Use predefined smart IDs for quick access to common documents:\n     - trade_register_extract: Latest trade register extract\n     - certified_trade_register_extract: Latest certified trade register extract\n     - last_fiscal_year_financial_statement: Latest financial statement\n     - last_consolidated_article_of_association: Latest consolidated articles of association\n\nRefer to our country coverage documentation to check which smart IDs are available for each country.",
        "operationId": "AppController_getCompany_v2",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/GetCompanyDTO"
                  },
                  {
                    "$ref": "#/components/schemas/GetCompanyByRequestIdDtoV2"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompanyResultDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "Retrieve company data",
        "tags": [
          "App",
          "Data"
        ]
      }
    },
    "/v2/pricing": {
      "post": {
        "description": "This endpoint allows you to retrieve the pricing information for a specific country.\n\nThe response includes:\n- Base price for company searches\n- Pricing for different data points (company profile, UBO, etc.)\n- Document retrieval costs\n- Any country-specific pricing variations\n\nThis can be useful for:\n- Understanding costs before making requests\n- Budgeting and planning purposes\n- Displaying pricing information to end users\n\nNote: Prices are returned in euros (EUR) and may vary based on your subscription plan.",
        "operationId": "AppController_getPricing_v2",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPricingDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ],
        "summary": "Get pricing for a country",
        "tags": [
          "App",
          "Pricing"
        ]
      }
    }
  },
  "info": {
    "title": "Semaphore",
    "description": "The semaphore API",
    "version": "0.1",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.getsemaphore.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "AddressDTO": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string",
            "description": "First line of the address",
            "example": "10 rue de la Fraternité"
          },
          "addressLine2": {
            "type": "string",
            "description": "Second line of the address",
            "example": "Semaphore Building"
          },
          "city": {
            "type": "string",
            "description": "City of the address",
            "example": "Bagnolet"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address",
            "example": "93170"
          },
          "region": {
            "type": "string",
            "description": "Region of the address",
            "example": "FR"
          },
          "countryCode": {
            "type": "string",
            "description": "Country of the address using ISO 3166-1 alpha-2 country code",
            "example": "FR"
          },
          "poBox": {
            "type": "string",
            "description": "Post Office Box number",
            "example": "PO Box 123"
          },
          "careOf": {
            "type": "string",
            "description": "Care of (c/o) recipient",
            "example": "c/o John Doe"
          },
          "state": {
            "type": "string",
            "description": "State of the address",
            "example": "Île-de-France"
          }
        },
        "required": [
          "addressLine1",
          "city",
          "postalCode",
          "region",
          "countryCode",
          "state"
        ]
      },
      "SearchResultV2": {
        "type": "object",
        "properties": {
          "address": {
            "description": "The legal address of the company",
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressDTO"
              }
            ]
          },
          "companyNumber": {
            "type": "string",
            "example": "932884117",
            "description": "The company number. In some countries, this might be a concatenation of the registry and city (e.g., in Germany: \"Augsburg HRB 34617\"). The search function will always return a usable company number. Check the documentation to see which number format is used for each country."
          },
          "legalName": {
            "type": "string",
            "description": "Legal name of the company",
            "example": "SEMAPHORE"
          },
          "legalNameInEnglish": {
            "type": "string",
            "example": "Test Display Hong Kong Trading Limited",
            "description": "The English translation or romanization of the legal name, commonly used for international business. Particularly relevant for companies registered with non-Latin alphabet names (e.g., Chinese, Japanese, Korean, etc.)."
          },
          "country": {
            "type": "string",
            "enum": [
              "AF",
              "AX",
              "AL",
              "DZ",
              "AS",
              "AD",
              "AO",
              "AI",
              "AQ",
              "AG",
              "AR",
              "AM",
              "AW",
              "AU",
              "AT",
              "AZ",
              "BS",
              "BH",
              "BD",
              "BB",
              "BY",
              "BE",
              "BZ",
              "BJ",
              "BM",
              "BT",
              "BO",
              "BQ",
              "BA",
              "BW",
              "BV",
              "BR",
              "IO",
              "BN",
              "BG",
              "BF",
              "BI",
              "KH",
              "CM",
              "CA",
              "CV",
              "KY",
              "CF",
              "TD",
              "CL",
              "CN",
              "CX",
              "CC",
              "CO",
              "KM",
              "CG",
              "CD",
              "CK",
              "CR",
              "CI",
              "HR",
              "CU",
              "CW",
              "CY",
              "CZ",
              "DK",
              "DJ",
              "DM",
              "DO",
              "EC",
              "EG",
              "SV",
              "GQ",
              "ER",
              "EE",
              "ET",
              "FK",
              "FO",
              "FJ",
              "FI",
              "FR",
              "GF",
              "PF",
              "TF",
              "GA",
              "GM",
              "GE",
              "DE",
              "GH",
              "GI",
              "GR",
              "GL",
              "GD",
              "GP",
              "GU",
              "GT",
              "GG",
              "GN",
              "GW",
              "GY",
              "HT",
              "HM",
              "VA",
              "HN",
              "HK",
              "HU",
              "IS",
              "IN",
              "ID",
              "IR",
              "IQ",
              "IE",
              "IM",
              "IL",
              "IT",
              "JM",
              "JP",
              "JE",
              "JO",
              "KZ",
              "KE",
              "KI",
              "KR",
              "KP",
              "KW",
              "KG",
              "LA",
              "LV",
              "LB",
              "LS",
              "LR",
              "LY",
              "LI",
              "LT",
              "LU",
              "MO",
              "MK",
              "MG",
              "MW",
              "MY",
              "MV",
              "ML",
              "MT",
              "MH",
              "MQ",
              "MR",
              "MU",
              "YT",
              "MX",
              "FM",
              "MD",
              "MC",
              "MN",
              "ME",
              "MS",
              "MA",
              "MZ",
              "MM",
              "NA",
              "NR",
              "NP",
              "NL",
              "NC",
              "NZ",
              "NI",
              "NE",
              "NG",
              "NU",
              "NF",
              "MP",
              "NO",
              "OM",
              "PK",
              "PW",
              "PS",
              "PA",
              "PG",
              "PY",
              "PE",
              "PH",
              "PN",
              "PL",
              "PT",
              "PR",
              "QA",
              "RE",
              "RO",
              "RU",
              "RW",
              "BL",
              "SH",
              "KN",
              "LC",
              "MF",
              "PM",
              "VC",
              "WS",
              "SM",
              "ST",
              "SA",
              "SN",
              "RS",
              "SC",
              "SL",
              "SG",
              "SX",
              "SK",
              "SI",
              "SB",
              "SO",
              "ZA",
              "GS",
              "SS",
              "ES",
              "LK",
              "SD",
              "SR",
              "SJ",
              "SZ",
              "SE",
              "CH",
              "SY",
              "TW",
              "TJ",
              "TZ",
              "TH",
              "TL",
              "TG",
              "TK",
              "TO",
              "TT",
              "TN",
              "TR",
              "TM",
              "TC",
              "TV",
              "UG",
              "UA",
              "AE",
              "GB",
              "US",
              "UM",
              "UY",
              "UZ",
              "VU",
              "VE",
              "VN",
              "VG",
              "VI",
              "WF",
              "EH",
              "YE",
              "ZM",
              "ZW",
              "TEST"
            ],
            "example": "FR",
            "description": "Country code, which can be an ISO country code, or for the United States, a combination of \"US\" and the state code (e.g., \"US-CA\" for California)."
          }
        },
        "required": [
          "address",
          "companyNumber",
          "legalName",
          "country"
        ]
      },
      "GetCompanyDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "932884117",
            "description": "The company id. In some countries, this might be a concatenation of the registry and city (e.g., in Germany: \"Augsburg HRB 34617\"). The search function will always return a usable company number. Check the documentation to see which number format is used for each country."
          },
          "countryCode": {
            "type": "string",
            "enum": [
              "AT",
              "BE",
              "CH",
              "CN",
              "DE",
              "ES",
              "FR",
              "GB",
              "IE",
              "IT",
              "NL",
              "NO",
              "PL",
              "PT",
              "HK",
              "LU",
              "MT",
              "TEST"
            ],
            "example": "FR",
            "description": "Country code, which can be an ISO country code, or for the United States, a combination of \"US\" and the state code (e.g., \"US-CA\" for California)."
          },
          "dataPoints": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "companyProfile",
                "ultimateBeneficialOwners",
                "availableDocuments"
              ]
            },
            "example": [
              "companyProfile"
            ],
            "description": "The data points to retrieve. Available data points are companyProfile, ultimateBeneficialOwners, availableDocuments, or establishments."
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "trade_register_extract"
            ],
            "description": "There are two ways to retrieve documents:\n\n1. Two-step process:\n   - First, request the \"availableDocuments\" data point to get a list of all available documents with their IDs\n   - Then, use these specific document IDs in a second request\n\n2. Direct access using smart IDs:\n   - Use predefined smart IDs for quick access to common documents:\n     - trade_register_extract: Latest trade register extract\n     - certified_trade_register_extract: Latest certified trade register extract\n     - last_fiscal_year_financial_statement: Latest financial statement\n     - last_consolidated_article_of_association: Latest consolidated articles of association\n\nRefer to our country coverage documentation to check which smart IDs are available for each country."
          }
        },
        "required": [
          "id",
          "countryCode"
        ]
      },
      "GetCompanyByRequestIdDtoV2": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "example": "123e4567-e89b-12d3-a456-426614174000",
            "description": "Optional UUID that references a previous request. When provided, returns cached data from that specific request instead of fetching fresh data."
          }
        }
      },
      "CompanyStatusDetailsBetaDTO": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "UNDER_INSOLVENCY_PROCEEDING",
              "CLOSED",
              "UNKNOWN"
            ],
            "example": "ACTIVE",
            "description": "The standardized status of the company"
          },
          "closureReason": {
            "type": "string",
            "enum": [
              "BANKRUPTCY",
              "LIQUIDATION",
              "MERGER",
              "ACQUISITION",
              "VOLUNTARY_DISSOLUTION",
              "ADMINISTRATIVE_DISSOLUTION",
              "COURT_ORDER",
              "OTHER",
              "UNKNOWN"
            ],
            "example": "BANKRUPTCY",
            "description": "The reason for company closure, if applicable"
          },
          "closureDate": {
            "type": "string",
            "example": "2024-01-15",
            "description": "The date when the company was closed, if applicable"
          },
          "insolvencyStartDate": {
            "type": "string",
            "example": "2023-12-01",
            "description": "The date when insolvency proceedings started, if applicable"
          },
          "additionalInfo": {
            "type": "string",
            "example": "Company entered voluntary liquidation due to retirement of owner",
            "description": "Additional information about the status"
          }
        },
        "required": [
          "status"
        ]
      },
      "CompanyStatusDTO": {
        "type": "object",
        "properties": {
          "localName": {
            "type": "string",
            "example": "active",
            "description": "The local status of the company in the local language"
          },
          "active": {
            "type": "boolean",
            "example": true,
            "description": "Indicates if the company is active. DEPRECATED: Use statusDetailsBeta instead"
          },
          "statusDetailsBeta": {
            "description": "Detailed status information including closure reasons and dates",
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyStatusDetailsBetaDTO"
              }
            ]
          }
        },
        "required": [
          "localName"
        ]
      },
      "LegalFormEnum": {
        "type": "string",
        "enum": [
          "Sole Proprietorship",
          "Partnership",
          "Limited Liability Company",
          "Corporation",
          "Nonprofit Organization",
          "Cooperative",
          "Government-Owned Entity",
          "Branch or Representative Office",
          "Trust",
          "Other"
        ],
        "description": "The standardized legal form of the company."
      },
      "LegalFormDTO": {
        "type": "object",
        "properties": {
          "localName": {
            "type": "string",
            "example": "EURL, entreprise unipersonnelle à responsabilité limitée",
            "description": "The local legal form of the company, in the local language"
          },
          "englishTranslation": {
            "type": "string",
            "example": "Single Member Limited Liability Company",
            "description": "The English translation of the local legal form."
          },
          "semaphoreStandard": {
            "example": "Limited Liability Company",
            "description": "The standardized legal form of the company.",
            "allOf": [
              {
                "$ref": "#/components/schemas/LegalFormEnum"
              }
            ]
          },
          "iso20275Code": {
            "type": "string",
            "example": "F8DD",
            "description": "The ISO 20275 Entity Legal Form code for the company."
          }
        }
      },
      "MonetaryAmountDTO": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric amount of money.",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "The ISO 4217 currency code (e.g., EUR, USD).",
            "example": "EUR"
          },
          "formatted": {
            "type": "string",
            "description": "Formatted string representation of the monetary amount in the local format",
            "example": "1000.00 €"
          }
        },
        "required": [
          "amount",
          "currency"
        ]
      },
      "EmployeeCountDTO": {
        "type": "object",
        "properties": {
          "exact": {
            "type": "number",
            "example": 150,
            "description": "The exact number of employees, if known"
          },
          "min": {
            "type": "number",
            "example": 100,
            "description": "The minimum number of employees in a range"
          },
          "max": {
            "type": "number",
            "example": 200,
            "description": "The maximum number of employees in a range"
          },
          "lastUpdated": {
            "type": "string",
            "example": "2024-03-15",
            "description": "The date when the employee count was last updated"
          },
          "isEstimate": {
            "type": "boolean",
            "example": false,
            "description": "Indicates if the employee count is an estimate"
          }
        }
      },
      "CompanyDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the company, see documentation.",
            "example": "932884117"
          },
          "countryCode": {
            "type": "string",
            "enum": [
              "AF",
              "AX",
              "AL",
              "DZ",
              "AS",
              "AD",
              "AO",
              "AI",
              "AQ",
              "AG",
              "AR",
              "AM",
              "AW",
              "AU",
              "AT",
              "AZ",
              "BS",
              "BH",
              "BD",
              "BB",
              "BY",
              "BE",
              "BZ",
              "BJ",
              "BM",
              "BT",
              "BO",
              "BQ",
              "BA",
              "BW",
              "BV",
              "BR",
              "IO",
              "BN",
              "BG",
              "BF",
              "BI",
              "KH",
              "CM",
              "CA",
              "CV",
              "KY",
              "CF",
              "TD",
              "CL",
              "CN",
              "CX",
              "CC",
              "CO",
              "KM",
              "CG",
              "CD",
              "CK",
              "CR",
              "CI",
              "HR",
              "CU",
              "CW",
              "CY",
              "CZ",
              "DK",
              "DJ",
              "DM",
              "DO",
              "EC",
              "EG",
              "SV",
              "GQ",
              "ER",
              "EE",
              "ET",
              "FK",
              "FO",
              "FJ",
              "FI",
              "FR",
              "GF",
              "PF",
              "TF",
              "GA",
              "GM",
              "GE",
              "DE",
              "GH",
              "GI",
              "GR",
              "GL",
              "GD",
              "GP",
              "GU",
              "GT",
              "GG",
              "GN",
              "GW",
              "GY",
              "HT",
              "HM",
              "VA",
              "HN",
              "HK",
              "HU",
              "IS",
              "IN",
              "ID",
              "IR",
              "IQ",
              "IE",
              "IM",
              "IL",
              "IT",
              "JM",
              "JP",
              "JE",
              "JO",
              "KZ",
              "KE",
              "KI",
              "KR",
              "KP",
              "KW",
              "KG",
              "LA",
              "LV",
              "LB",
              "LS",
              "LR",
              "LY",
              "LI",
              "LT",
              "LU",
              "MO",
              "MK",
              "MG",
              "MW",
              "MY",
              "MV",
              "ML",
              "MT",
              "MH",
              "MQ",
              "MR",
              "MU",
              "YT",
              "MX",
              "FM",
              "MD",
              "MC",
              "MN",
              "ME",
              "MS",
              "MA",
              "MZ",
              "MM",
              "NA",
              "NR",
              "NP",
              "NL",
              "NC",
              "NZ",
              "NI",
              "NE",
              "NG",
              "NU",
              "NF",
              "MP",
              "NO",
              "OM",
              "PK",
              "PW",
              "PS",
              "PA",
              "PG",
              "PY",
              "PE",
              "PH",
              "PN",
              "PL",
              "PT",
              "PR",
              "QA",
              "RE",
              "RO",
              "RU",
              "RW",
              "BL",
              "SH",
              "KN",
              "LC",
              "MF",
              "PM",
              "VC",
              "WS",
              "SM",
              "ST",
              "SA",
              "SN",
              "RS",
              "SC",
              "SL",
              "SG",
              "SX",
              "SK",
              "SI",
              "SB",
              "SO",
              "ZA",
              "GS",
              "SS",
              "ES",
              "LK",
              "SD",
              "SR",
              "SJ",
              "SZ",
              "SE",
              "CH",
              "SY",
              "TW",
              "TJ",
              "TZ",
              "TH",
              "TL",
              "TG",
              "TK",
              "TO",
              "TT",
              "TN",
              "TR",
              "TM",
              "TC",
              "TV",
              "UG",
              "UA",
              "AE",
              "GB",
              "US",
              "UM",
              "UY",
              "UZ",
              "VU",
              "VE",
              "VN",
              "VG",
              "VI",
              "WF",
              "EH",
              "YE",
              "ZM",
              "ZW",
              "TEST"
            ],
            "description": "The  ISO 3166-1 alpha-2 country code of the company registration country",
            "example": "FR"
          },
          "identifiers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "A dictionary of different identifiers for the company",
            "example": {
              "SIREN": "932884117",
              "VAT": "FR42932884117"
            }
          },
          "legalName": {
            "type": "string",
            "example": "Semaphore",
            "description": "The legal name of the company."
          },
          "legalNameInEnglish": {
            "type": "string",
            "example": "Test Display Hong Kong Trading Limited",
            "description": "The English translation or romanization of the legal name, commonly used for international business. Particularly relevant for companies registered with non-Latin alphabet names (e.g., Chinese, Japanese, Korean, etc.)."
          },
          "commercialNames": {
            "example": [
              "Semaphore",
              "SemaphoreHQ"
            ],
            "description": "An array of commercial names or trading names used by the company.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "description": "The status of the company, including local status and whether it is active.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyStatusDTO"
              }
            ]
          },
          "registrationDate": {
            "type": "string",
            "example": "2024-04-22",
            "description": "The registration date of the company."
          },
          "legalForm": {
            "description": "The legal form of the company, including local and standard forms.",
            "allOf": [
              {
                "$ref": "#/components/schemas/LegalFormDTO"
              }
            ]
          },
          "capital": {
            "description": "The share capital of the company.",
            "allOf": [
              {
                "$ref": "#/components/schemas/MonetaryAmountDTO"
              }
            ]
          },
          "activities": {
            "type": "object",
            "description": "A dictionary of activity classifications",
            "example": {
              "NACE": [
                {
                  "code": "62.01",
                  "description": "Computer programming activities"
                }
              ],
              "ISIC": [
                {
                  "code": "J620",
                  "description": "Computer programming, consultancy and related activities"
                }
              ]
            },
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CompanyActivityItemDTO"
              }
            }
          },
          "activityDescription": {
            "type": "string",
            "description": "A text description of the company activities",
            "example": "Development of software solutions and IT consulting services"
          },
          "legalAddress": {
            "description": "The address of the company.",
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressDTO"
              }
            ]
          },
          "phones": {
            "example": [
              "+33123456789",
              "+33987654321"
            ],
            "description": "An array of phone numbers for the company in E.164 format (e.g., +33123456789 for France, +1234567890 for USA).",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "website": {
            "type": "string",
            "example": "https://www.example.com",
            "description": "The official website URL of the company."
          },
          "employeeCount": {
            "description": "The employee count information for the company.",
            "allOf": [
              {
                "$ref": "#/components/schemas/EmployeeCountDTO"
              }
            ]
          }
        },
        "required": [
          "id",
          "countryCode"
        ]
      },
      "PersonNameDTO": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the person (e.g., Mr., Mrs., Dr.)"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the person"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the person"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the person"
          },
          "fullName": {
            "type": "string",
            "description": "Full name of the person"
          },
          "suffix": {
            "type": "string",
            "description": "Suffix of the name (e.g., Jr., Sr., III)"
          }
        },
        "required": [
          "fullName"
        ]
      },
      "BirthDateDTO": {
        "type": "object",
        "properties": {
          "day": {
            "type": "number",
            "description": "Day of birth (1-31)",
            "example": 15
          },
          "month": {
            "type": "number",
            "description": "Month of birth (1-12), where January is 1",
            "example": 7
          },
          "year": {
            "type": "number",
            "description": "Year of birth",
            "example": 1980
          }
        }
      },
      "RangeDto": {
        "type": "object",
        "properties": {
          "lower": {
            "type": "number",
            "description": "Lower bound of the range",
            "example": 25
          },
          "upper": {
            "type": "number",
            "description": "Upper bound of the range",
            "example": 50
          }
        },
        "required": [
          "lower",
          "upper"
        ]
      },
      "PercentageDetailDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of percentage detail (shares, voting rights)",
            "enum": [
              "shares",
              "voting-rights"
            ],
            "example": "shares"
          },
          "percentageRange": {
            "description": "Range of control as a lower and upper bound",
            "example": {
              "lower": 25,
              "upper": 50
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/RangeDto"
              }
            ]
          },
          "percentageValue": {
            "type": "number",
            "description": "Exact percentage of control",
            "example": 30
          },
          "monetaryAmount": {
            "description": "Monetary amount of shares controlled",
            "allOf": [
              {
                "$ref": "#/components/schemas/MonetaryAmountDTO"
              }
            ]
          },
          "numberOfShares": {
            "type": "number",
            "description": "Number of shares controlled",
            "example": 1000
          },
          "nature": {
            "type": "string",
            "description": "Indicates whether the control is direct or indirect",
            "enum": [
              "direct",
              "indirect"
            ],
            "example": "direct"
          }
        },
        "required": [
          "type",
          "percentageRange",
          "percentageValue",
          "monetaryAmount"
        ]
      },
      "ControlDTO": {
        "type": "object",
        "properties": {
          "types": {
            "type": "array",
            "description": "Types of control held by the beneficial owner",
            "items": {
              "type": "string",
              "enum": [
                "ownership-of-shares",
                "voting-rights",
                "appoint-and-remove-directors",
                "significant-influence-or-control"
              ]
            },
            "example": [
              "ownership-of-shares"
            ]
          },
          "description": {
            "type": "string",
            "description": "Description of why the person is of significant control",
            "example": "The person holds more than 50% of the shares in the company."
          },
          "details": {
            "description": "Details about the percentage of control",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PercentageDetailDto"
            }
          }
        },
        "required": [
          "types",
          "description",
          "details"
        ]
      },
      "UltimateBeneficialOwnerDTO": {
        "type": "object",
        "properties": {
          "gender": {
            "type": "string",
            "description": "Gender of the person",
            "enum": [
              "Male",
              "Female",
              "Other",
              "PreferNotToSay"
            ],
            "example": "Female"
          },
          "name": {
            "description": "Full name of the person",
            "example": {
              "fullName": "John Doe"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/PersonNameDTO"
              }
            ]
          },
          "birthDate": {
            "description": "Birth date of the person",
            "example": {
              "day": 15,
              "month": 7,
              "year": 1980
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/BirthDateDTO"
              }
            ]
          },
          "birthAddress": {
            "description": "Birth address of the person",
            "example": {
              "country": "FR",
              "city": "Paris",
              "street": "1 Rue de Rivoli",
              "postalCode": "75001"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressDTO"
              }
            ]
          },
          "nationality": {
            "type": "string",
            "description": "Nationality ISO2 country code of the person",
            "example": "US"
          },
          "residenceAddress": {
            "description": "Residence address of the person",
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressDTO"
              }
            ]
          },
          "control": {
            "description": "Details of control held by the beneficial owner",
            "example": {
              "controlType": "ownership-of-shares",
              "description": "The person holds more than 50% of the shares in the company.",
              "percentageDetails": [
                {
                  "type": "shares",
                  "range": {
                    "lower": 50,
                    "upper": 75
                  }
                }
              ],
              "additionalDetails": "Direct ownership of shares"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/ControlDTO"
              }
            ]
          }
        },
        "required": [
          "gender",
          "name",
          "birthDate",
          "birthAddress",
          "nationality",
          "residenceAddress",
          "control"
        ]
      },
      "RoleEnum": {
        "type": "string",
        "enum": [
          "Director",
          "Manager",
          "Employee",
          "Chief Executive Officer",
          "Chief Financial Officer",
          "Chief Operating Officer",
          "President",
          "Vice President",
          "Secretary",
          "Treasurer",
          "Legal Advisor",
          "General Counsel",
          "Partner",
          "Associate",
          "Chairman of the Board",
          "Board Member",
          "Managing Director",
          "Executive Director",
          "Non-Executive Director",
          "General Partner",
          "Managing Partner",
          "Limited Partner",
          "Administrator",
          "Liquidator",
          "Receiver"
        ],
        "description": "The standardized role of the individual."
      },
      "RoleDTO": {
        "type": "object",
        "properties": {
          "localName": {
            "type": "string",
            "description": "The local role name in the local language",
            "example": "Directeur"
          },
          "englishTranslation": {
            "type": "string",
            "description": "The role name in English",
            "example": "Director"
          },
          "iso5009Code": {
            "type": "string",
            "description": "The ISO 5009 role code",
            "example": "GIDXNF"
          },
          "semaphoreStandard": {
            "example": "Director",
            "description": "The standardized role of the individual.",
            "allOf": [
              {
                "$ref": "#/components/schemas/RoleEnum"
              }
            ]
          }
        },
        "required": [
          "semaphoreStandard"
        ]
      },
      "PhysicalPersonBaseDTO": {
        "type": "object",
        "properties": {
          "gender": {
            "type": "string",
            "description": "Gender of the person",
            "enum": [
              "Male",
              "Female",
              "Other",
              "PreferNotToSay"
            ],
            "example": "Female"
          },
          "name": {
            "description": "Full name of the person",
            "example": {
              "fullName": "John Doe"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/PersonNameDTO"
              }
            ]
          },
          "birthDate": {
            "description": "Birth date of the person",
            "example": {
              "day": 15,
              "month": 7,
              "year": 1980
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/BirthDateDTO"
              }
            ]
          },
          "birthAddress": {
            "description": "Birth address of the person",
            "example": {
              "country": "FR",
              "city": "Paris",
              "street": "1 Rue de Rivoli",
              "postalCode": "75001"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressDTO"
              }
            ]
          },
          "nationality": {
            "type": "string",
            "description": "Nationality ISO2 country code of the person",
            "example": "US"
          },
          "residenceAddress": {
            "description": "Residence address of the person",
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressDTO"
              }
            ]
          }
        },
        "required": [
          "gender",
          "name",
          "birthDate",
          "birthAddress",
          "nationality",
          "residenceAddress"
        ]
      },
      "LegalRepresentativeDTO": {
        "type": "object",
        "properties": {
          "role": {
            "description": "The role of the legal representative",
            "allOf": [
              {
                "$ref": "#/components/schemas/RoleDTO"
              }
            ]
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the legal representative's role",
            "example": "2022-01-01"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the legal representative's role (if applicable)",
            "example": "2023-12-31"
          },
          "type": {
            "type": "string",
            "description": "The type of the legal representative (individual or company)",
            "enum": [
              "individual",
              "company"
            ],
            "example": "individual"
          },
          "individual": {
            "description": "Details of the individual legal representative",
            "allOf": [
              {
                "$ref": "#/components/schemas/PhysicalPersonBaseDTO"
              }
            ]
          },
          "company": {
            "description": "Details of the company legal representative",
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyDTO"
              }
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "ShareholderDTO": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the shareholder (individual or company)",
            "enum": [
              "individual",
              "company"
            ],
            "example": "individual"
          },
          "individual": {
            "description": "Details of the individual shareholder",
            "allOf": [
              {
                "$ref": "#/components/schemas/PhysicalPersonBaseDTO"
              }
            ]
          },
          "company": {
            "description": "Details of the company shareholder",
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyDTO"
              }
            ]
          },
          "sharePercentage": {
            "type": "number",
            "description": "The percentage of shares owned by the shareholder",
            "example": 25.5
          },
          "numberOfShares": {
            "type": "number",
            "description": "The absolute number of shares owned by the shareholder",
            "example": 1000
          },
          "shareNominalPrice": {
            "type": "number",
            "description": "The nominal price or face value per share",
            "example": 1
          },
          "source": {
            "type": "string",
            "description": "Description of how the shareholder was found and from which document",
            "example": "Found in financial statements (Jahresabschluss 2023) - control relationship indicated by Konzernzugehörigkeit"
          }
        },
        "required": [
          "type"
        ]
      },
      "EstablishmentDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the establishment",
            "example": "EST-001"
          },
          "name": {
            "type": "string",
            "description": "The name of the establishment",
            "example": "Main Office"
          },
          "creationDate": {
            "type": "string",
            "description": "The creation date of the establishment",
            "example": "2020-01-15"
          },
          "endDate": {
            "type": "string",
            "description": "The closing date of the establishment (if applicable)",
            "example": "2023-12-31"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the establishment is currently active",
            "example": true
          },
          "address": {
            "description": "The address of the establishment",
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressDTO"
              }
            ]
          }
        },
        "required": [
          "name"
        ]
      },
      "OtherKeyPersonRoleEnum": {
        "type": "string",
        "enum": [
          "Board Member",
          "Non-Executive Director",
          "Independent Director",
          "Advisory Board Member",
          "Board Observer",
          "Auditor",
          "Compliance Officer",
          "Data Protection Officer",
          "Money Laundering Reporting Officer",
          "Secretary",
          "Supervisor",
          "Supervisory Board Member",
          "C-Level Executive",
          "Other"
        ],
        "description": "The standardized role of the individual."
      },
      "OtherKeyPersonRoleDTO": {
        "type": "object",
        "properties": {
          "localName": {
            "type": "string",
            "description": "The local role name in the local language",
            "example": "Commissaire aux comptes"
          },
          "englishTranslation": {
            "type": "string",
            "description": "The role name in English",
            "example": "Auditor"
          },
          "semaphoreStandard": {
            "example": "Board Member",
            "description": "The standardized role of the individual.",
            "allOf": [
              {
                "$ref": "#/components/schemas/OtherKeyPersonRoleEnum"
              }
            ]
          }
        },
        "required": [
          "semaphoreStandard"
        ]
      },
      "OtherKeyPersonDTO": {
        "type": "object",
        "properties": {
          "role": {
            "description": "The role of the other key person",
            "allOf": [
              {
                "$ref": "#/components/schemas/OtherKeyPersonRoleDTO"
              }
            ]
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the role",
            "example": "2022-01-01"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the role (if applicable)",
            "example": "2023-12-31"
          },
          "type": {
            "type": "string",
            "enum": [
              "individual",
              "company"
            ],
            "description": "The type of the other key person (individual or company)",
            "example": "individual"
          },
          "individual": {
            "description": "Details if the other key person is an individual",
            "allOf": [
              {
                "$ref": "#/components/schemas/PhysicalPersonBaseDTO"
              }
            ]
          },
          "company": {
            "description": "Details if the other key person is a company",
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyDTO"
              }
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "AvailableDocumentDTO": {
        "type": "object",
        "properties": {
          "format": {
            "type": "string",
            "description": "Document format (ISO format)",
            "example": "PDF"
          },
          "description": {
            "type": "string",
            "description": "Document description",
            "example": "Uncertified trade register extract, provided by the French INPI"
          },
          "availabilityDelay": {
            "type": "number",
            "description": "Availability delay in minutes",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "Document name in the original language",
            "example": "Certificat INPI"
          },
          "id": {
            "type": "string",
            "description": "Document ID. This can be either a random ID specific to this document, or a stable quick access ID like \"trade_register_extract\" or \"last_available_financial_statement\". Stable IDs enable quick access to specific documents without querying available_documents first. Refer to our country coverage documentation to check which quick access IDs are available for each country.",
            "example": "trade_register_extract"
          },
          "date": {
            "format": "date-time",
            "type": "string",
            "description": "Document date",
            "example": "2024-06-31T23:59:59Z"
          },
          "type": {
            "type": "string",
            "description": "Document type",
            "enum": [
              "financial_statement",
              "uncertified_trade_register_extract",
              "certified_trade_register_extract",
              "ubo_extract",
              "status",
              "trade_register_history",
              "unknown",
              "other"
            ],
            "example": "uncertified_trade_register_extract"
          },
          "price": {
            "type": "number",
            "description": "Document price, in credits",
            "example": 3
          }
        },
        "required": [
          "name",
          "id",
          "type"
        ]
      },
      "DocumentDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Document ID. This can be either a random ID specific to this document, or a stable quick access ID like \"trade_register_extract\" or \"last_available_financial_statement\". Stable IDs enable quick access to specific documents without querying available_documents first. Refer to our country coverage documentation to check which quick access IDs are available for each country.",
            "example": "trade_register_extract"
          },
          "url": {
            "type": "string",
            "description": "Temporary document download URL with a 15-minute lifetime. If the URL expires, you can request the same document again within 24 hours without being charged.",
            "example": "https://example.com/download/document123"
          },
          "blobName": {
            "type": "string",
            "description": "Blob name",
            "example": "document123.pdf"
          }
        },
        "required": [
          "id",
          "url",
          "blobName"
        ]
      },
      "CompanyActivityItemDTO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The activity code",
            "example": "62.01"
          },
          "description": {
            "type": "string",
            "description": "The description of the activity",
            "example": "Computer programming activities"
          },
          "isAIInferred": {
            "type": "boolean",
            "description": "Indicates whether the activity code comes from an official source or has been inferred by AI",
            "example": true
          }
        },
        "required": [
          "code",
          "description",
          "isAIInferred"
        ]
      },
      "CompnanyActivitiesDTO": {
        "type": "object",
        "properties": {
          "ISIC": {
            "description": "The ISIC activity codes of the company, as deep as possible",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyActivityItemDTO"
            }
          }
        }
      },
      "DocumentWithUrlDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nameInEnglish": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "descriptionInEnglish": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "estimatedDeliverySeconds": {
            "type": "number"
          },
          "url": {
            "type": "string"
          },
          "blobName": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "description": "Fixed price in cents"
          },
          "priceMarkup": {
            "type": "number",
            "description": "Price markup percentage"
          }
        },
        "required": [
          "id",
          "name",
          "format"
        ]
      },
      "PeriodDateDTO": {
        "type": "object",
        "properties": {
          "year": {
            "type": "number"
          },
          "month": {
            "type": "number"
          },
          "day": {
            "type": "number"
          }
        }
      },
      "PeriodDTO": {
        "type": "object",
        "properties": {
          "startDate": {
            "$ref": "#/components/schemas/PeriodDateDTO"
          },
          "endDate": {
            "$ref": "#/components/schemas/PeriodDateDTO"
          }
        }
      },
      "FinancialStatementDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nameInEnglish": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "descriptionInEnglish": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "estimatedDeliverySeconds": {
            "type": "number"
          },
          "url": {
            "type": "string"
          },
          "blobName": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "description": "Fixed price in cents"
          },
          "priceMarkup": {
            "type": "number",
            "description": "Price markup percentage"
          },
          "period": {
            "$ref": "#/components/schemas/PeriodDTO"
          }
        },
        "required": [
          "id",
          "name",
          "format"
        ]
      },
      "ArticleOfAssociationDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nameInEnglish": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "descriptionInEnglish": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "estimatedDeliverySeconds": {
            "type": "number"
          },
          "url": {
            "type": "string"
          },
          "blobName": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "description": "Fixed price in cents"
          },
          "priceMarkup": {
            "type": "number",
            "description": "Price markup percentage"
          },
          "date": {
            "type": "string"
          },
          "isConsolidated": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "format"
        ]
      },
      "DocumentsImprovedDTO": {
        "type": "object",
        "properties": {
          "tradeRegisterExtract": {
            "$ref": "#/components/schemas/DocumentWithUrlDto"
          },
          "certifiedTradeRegisterExtract": {
            "$ref": "#/components/schemas/DocumentWithUrlDto"
          },
          "financialStatements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FinancialStatementDTO"
            }
          },
          "articlesOfAssociation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArticleOfAssociationDTO"
            }
          },
          "ultimateBeneficialOwnersCertificate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentWithUrlDto"
            }
          },
          "otherDocuments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentWithUrlDto"
            }
          },
          "lastFiscalYearFinancialStatement": {
            "$ref": "#/components/schemas/DocumentWithUrlDto"
          },
          "mostCompleteArticleOfAssociation": {
            "$ref": "#/components/schemas/DocumentWithUrlDto"
          }
        },
        "required": [
          "tradeRegisterExtract",
          "certifiedTradeRegisterExtract",
          "financialStatements",
          "articlesOfAssociation",
          "ultimateBeneficialOwnersCertificate",
          "lastFiscalYearFinancialStatement",
          "mostCompleteArticleOfAssociation"
        ]
      },
      "DataPointStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the data point",
            "example": "succeeded",
            "enum": [
              "succeeded",
              "in_progress",
              "failed"
            ]
          },
          "jobs_in_progress": {
            "type": "array",
            "description": "List of job IDs currently in progress to retrieve this data point or this document. \n      You can retrieve the data once the job has finished by either listening to webhooks or repeating the same API call. \n      Note that data points remain available for 24 hours after purchase, allowing for multiple retrievals within this timeframe\n      Multiple jobs can be required to retrieve a single data points when there is multiple underlying data sources. In this case, you will receive multiple webhooks with more data at each step.",
            "example": [
              "job_1",
              "job2"
            ],
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "description": "List of errors encountered while retrieving this data point or this document",
            "example": [
              "The local registry could not be reached. Please retry later. "
            ],
            "items": {
              "type": "string"
            }
          },
          "cost": {
            "type": "number",
            "description": "The cost in credits for this data point or document",
            "example": 10
          },
          "costMarkup": {
            "type": "number",
            "description": "The percentage markup for this data point or document when the final cost is not yet known",
            "example": 20
          }
        },
        "required": [
          "status"
        ]
      },
      "DataStatus": {
        "type": "object",
        "properties": {
          "dataPoints": {
            "type": "object",
            "description": "Retrieval status of data points",
            "additionalProperties": {
              "$ref": "#/components/schemas/DataPointStatus",
              "description": "The retriveal status of the data point"
            }
          },
          "documents": {
            "type": "object",
            "description": "Retrieval status of documents",
            "additionalProperties": {
              "$ref": "#/components/schemas/DataPointStatus",
              "description": "The retriveal status of the document"
            }
          }
        },
        "required": [
          "dataPoints",
          "documents"
        ]
      },
      "RequestMetadataDTO": {
        "type": "object",
        "properties": {
          "companyId": {
            "type": "string",
            "example": "932884117",
            "description": "The requested company id."
          },
          "country": {
            "type": "string",
            "enum": [
              "AT",
              "BE",
              "CH",
              "CN",
              "DE",
              "ES",
              "FR",
              "GB",
              "IE",
              "IT",
              "NL",
              "NO",
              "PL",
              "PT",
              "HK",
              "LU",
              "MT",
              "TEST"
            ],
            "example": "FR",
            "description": "The requested country code."
          },
          "requestId": {
            "type": "string",
            "example": "request-12345",
            "description": "The unique identifier for the request."
          },
          "dataPoints": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dataStatus": {
            "description": "Indicates the status of data points and documents associated with the company. It states if the data has been retrieved, if a job is in progress for asynchronous data, or if a job there was an error.",
            "allOf": [
              {
                "$ref": "#/components/schemas/DataStatus"
              }
            ]
          }
        },
        "required": [
          "country",
          "dataPoints",
          "documents"
        ]
      },
      "GetCompanyResultDTO": {
        "type": "object",
        "properties": {
          "request": {
            "description": "The request",
            "allOf": [
              {
                "$ref": "#/components/schemas/RequestMetadataDTO"
              }
            ]
          },
          "company": {
            "description": "The main profile information of the company, including, if available, details such as name, registration number, address, and other core data.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyDTO"
              }
            ]
          },
          "ultimateBeneficialOwners": {
            "description": "The persons of significant control of the company, including, if available, their name, nationality, and other relevant details.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UltimateBeneficialOwnerDTO"
            }
          },
          "legalRepresentatives": {
            "description": "The legal representatives of the company, which can be either individuals or companies.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LegalRepresentativeDTO"
            }
          },
          "shareholders": {
            "description": "The shareholders of the company, which can be either individuals or companies.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShareholderDTO"
            }
          },
          "establishments": {
            "description": "The establishments of the company, including physical locations where business activities are conducted.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EstablishmentDTO"
            }
          },
          "otherKeyPersons": {
            "description": "Other key persons associated with the company who do not have legal signing authority, such as board members, auditors, and compliance officers.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OtherKeyPersonDTO"
            }
          },
          "graphBeta": {
            "type": "object"
          },
          "documents": {
            "$ref": "#/components/schemas/DocumentsImprovedDTO"
          }
        },
        "required": [
          "request",
          "company"
        ]
      },
      "GetPricingDTO": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "enum": [
              "AT",
              "BE",
              "CH",
              "CN",
              "DE",
              "ES",
              "FR",
              "GB",
              "IE",
              "IT",
              "NL",
              "NO",
              "PL",
              "PT",
              "HK",
              "LU",
              "MT",
              "TEST"
            ],
            "example": "FR",
            "description": "Country code, which can be an ISO country code, or for the United States, a combination of \"US\" and the state code (e.g., \"US-CA\" for California)."
          }
        },
        "required": [
          "country"
        ]
      }
    }
  }
}